{% extends 'donors/base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container-box">
    <h2 class="text-center text-danger">About Us</h2>
    <p>Welcome to the Blood Donation System. Our mission is to connect donors with those in need of blood.</p>
    <p>We ensure that every request reaches potential donors in real-time.</p>
    <p><strong>Contact Us:</strong></p>
    <ul>
        <li>Email: support@blooddonation.com</li>
        <li>Phone: +213 123 456 789</li>
    </ul>
</div>
{% endblock %}
